body {
  background-image: url("../images/background-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.row {
  margin: 0;
}

.sign-up-fields {
  height: 100vh;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}
