body {
  background-image: url("../images/background-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.row {
  margin: 0;
}

.all {
  padding-top: 40%;
}

.sign-up-fields {
  margin-top: -55vh;
}

.sign-up-fields .input {
  text-align: right;
}

input {
  background: transparent;
  border: 0;
  border-bottom: 1px solid white;
}

.form-group {
  margin: 10px 0;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}
